fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9

# ML / CV
torch==2.1.2
torchvision==0.16.2
ultralytics==8.1.30
opencv-python-headless==4.9.0.80
numpy==1.26.4
Pillow==10.2.0

# HTTP
requests==2.31.0

# Supabase SDK
supabase-py==2.3.4

# Utils
python-dotenv==1.0.1
